@import url('https://fonts.googleapis.com/css?family=Lora|Roboto:300,400,900&display=swap');
/* css reset */

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

/* global variables */

:root {
    --white: #ffffff;
    --black: #000000;
    --lightgrey: #F8F9F9;
    --grey: #F0F1F1;
    --darkgrey: #676968;
    --lightpurple: #F1E9FA;
    --purple: #541B8B;
}

body {
    background-color: var(--lightgrey);
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

button, a , .cl-icon, .cl-logo-text{
    cursor: pointer;
}

.cl-header {
    background-color: var(--purple);
    padding: .25em 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

.cl-header .top-nav {
    display: grid;
    grid-template-columns: 2em auto 2em;
}

.cl-logo-text > a{
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 1.62em;
    font-weight: 100;
    color: var(--lightpurple);
    text-decoration: none;
}

.cl-search>div {
    padding: .5em 0;
    display: grid;
    grid-template-columns: auto 2em;
}

.cl-search>div>.search {
    border-radius: 0.25em;
    border: thin solid var(--darkgrey);
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-position: .5em center;
    background-color: var(--lightgrey);
    padding: .5em 2em;
    font-size: 1em;
}

.cl-menu {
    padding: 0 2em;
    border-top: .5px solid #A36AD9;
    margin: 0 -1em;
    display: none;
}

.menu-nav.expanded>.cl-menu {
    display: block;
}

.menu-nav.expanded .cl-search {
    padding: 0;
    margin: 0;
    background-color: var(--purple);
}

.cl-search>div {
    max-width: 35em;
    margin: 0 auto;
}

.menu-nav.expanded .search {
    background-color: var(--lightpurple);
}

.menu-nav .cl-search {
    background-color: var(--white);
    margin: .25em -1em -.25em;
    padding: .0em 1em;
}

.menu-list {
    list-style: none;
    color: var(--lightpurple);
    display: none;
}

.menu-list.show {
    display: block;
}

.menu-list>li {
    padding: .5em 0;
    display: grid;
    grid-template-columns: 2.5em 1fr;
    align-items: center;
}

.menu-list img {
    padding-right: 1em;
}

.menu-list>li+li {
    border-top: thin solid #A36AD9
}

li.account {
    display: none;
}

.cl-sub-header {
    color: var(--darkgrey);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .5em 1em;
}

.cl-related {
    grid-column: 1/4;
    margin: .5em 0;
}

.cl-result-count {
    grid-column: 1/4;
    font-size: .75em;
}

.cl-filter, .cl-view, .cl-sort {
    display: flex;
    align-items: center;
}

.cl-filter {
    justify-content: flex-start;
}

.cl-view {
    justify-content: center;
}

.cl-sort {
    justify-content: flex-end;
}

.cl-results {
    display: grid;
    grid-template-columns: 1fr;
}

.related-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.related-list>li:not(:last-child) {
    background-color: var(--grey);
    box-sizing: content-box;
    padding: .5em 1em;
    font-size: .75em;
    color: var(--black);
    margin-right: .5em;
    border-radius: 1em;
}

.related-list>li:not(.for-mobile) {
    display: none;
}

.results-card {
    margin: .5em;
    background-color: var(--white);
    border: thin solid var(--white);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
    display: grid;
    grid-template-columns: 9.375em auto;
    min-height: 10em;
}

.card-img>img {
    height: 10em;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card-info {
    padding: .5em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--darkgrey);
    font-size: .75em;
}

.card-info>.name {
    font-size: 1rem;
    color: var(--black);
}

.card-info>.price {
    font-size: 1.275rem;
    color: var(--purple);
}

.card-info>.name, .card-info>.description, .card-info>.location {
    grid-column: 1/3;
}

.card-info>.user {
    display: flex;
    align-items: center;
}

.user > img {
    max-width: 2em;
    max-height: 2em;
    border-radius: 50%;
}

.user>span {
    padding: 0 .5em;
}

.card-info>.location {
    font-weight: 200;
    display: flex;
    align-items: center;
}

.card-info>.date {
    justify-self: right;
    align-self: center;
}

.cl-pagination>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 2em 1em;
}

.cl-pagination li {
    margin: 0 .25em;
    display: inline-block;
    padding: .25em .5em;
    border: 2px solid var(--purple);
    color: var(--black);
}

.cl-pagination li:first-child {
    background-color: var(--purple);
    color: var(--lightpurple);
}

.cl-pagination li.next {
    border: none;
}

.cl-filter-bar {
    display: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}

.cl-footer {
    background-color: var(--purple);
    display: grid;
    grid-template-columns: 1fr;
}

.site-nav {
    padding: 1em 1.5em;
}

.site-nav>p {
    text-transform: uppercase;
    color: var(--darkgrey);
    font-weight: 900;
}

.site-nav li {
    list-style: none;
}

.site-nav a {
    color: var(--lightpurple);
    text-decoration: none;
    line-height: 1.5em;
}

.cl-social>ul {
    list-style: none;
    display: flex;
    width: 10em;
    justify-content: space-between;
    margin: 0 auto;
}

.cl-social li {
    display: inline-block;
}

.copyright-text {
    color: var(--lightpurple);
    text-align: center;
    margin: 1em;
    font-weight: 200;
    font-size: .75em;
}

.cl-filter-bar > div {
    margin: 1em 1.5em;
    color: var(--darkgrey);
    border-bottom: thin solid var(--grey);
    padding-bottom: 1em;
}

.cl-filter-bar span {
    margin: .5em 0;
    display: block;
    font-weight: 200;
}

.cl-filter-bar ul {
    list-style: none;
}

.cl-filter-bar ul > li > button {
    padding: .5em;
    font-size: .875em;
    width: 100%;
    display: block;
    text-align: left;
    background: none;
    border: none;
}

.cl-filter-bar div:last-child {
    border: none;
}

.category ul > li:last-child,
.location ul > li:nth-child(2),
.distance ul > li:last-child,
.offer ul > li:first-child,
.featured ul > li:nth-child(2)
 {
    border: thin solid var(--purple);
    border-radius: 3px;
    background-color: var(--lightpurple);
    background-image: url('../img/icons/close-small.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: .5em;
    padding-right: 1em;
}

.price-range > div {
    margin: 0 .5em;
}

.price-range input {
    padding: 1em;
    border: thin  solid var(--lightgrey);
    border-radius: 3px;
    margin: .5em 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.price-range button {
    color: var(--lightpurple);
    background-color: var(--purple);
    padding: 1em;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-size: .75rem;
}

button:hover {
    opacity: .9;
}

.top-nav .menu-list > li:hover {
    border-bottom: 1px solid var(--lightpurple)
}

@media (min-width: 48em) {
    .cl-results {
        grid-template-columns: 1fr 1fr;
    }
    .cl-footer {
        grid-template-columns: repeat(4, 1fr);
    }
    .cl-social {
        padding: 1em 1.5em;
    }
    .related-list>li:not(.for-mobile) {
        display: inline-block
    }
}

@media (min-width: 64em) {
    .cl-results {
        grid-template-columns: 1fr 1fr;
    }
    .cl-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .cl-sub-header {
        grid-template-columns: auto 1fr 4em 4em;
        align-items: center;
        background-color: var(--white);
        margin: 1em 4.5em .5em 1em;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
    }
    .cl-filter {
        display: none;
    }
    .cl-view {
        grid-column: 3/4;
    }
    .cl-related {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .cl-result-count {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .related-list {
        justify-content: flex-start;
        align-items: center;
        max-width: 40em;
    }
    .cl-search>div {
        max-width: 45em;
    }
    main {
        grid-template-columns: minmax(12em, 20em) minmax(48em, 1fr);
        grid-template-areas: 'head head' 'filter etc' 'filter results' 'filter page' 'foot foot';
    }
    .cl-header {
        grid-area: head;
    }
    .cl-sub-header {
        grid-area: etc;
    }
    .cl-results {
        grid-area: results;
        margin: 0 4em 0 .5em;
    }
    .cl-pagination {
        grid-area: page;
    }
    .cl-footer {
        grid-area: foot;
    }
    .cl-filter-bar {
        grid-area: filter;
        display: block;
        background-color: var(--white);
        margin: 1em .5em 1em 4em;
    }
    .cl-header .top-nav {
        grid-template-columns: auto auto 2em;
    }
    .cl-icon.humberger {
        display: none;
    }
    .cl-icon.user {
        grid-column: 3/4;
    }
    .top-nav {
        padding: .75em 0;
    }
    .top-nav .menu-list {
        display: inline-flex;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-content: space-evenly;
    }
    .cl-logo-text {
        justify-self: left;
    }
    .top-nav .menu-list>li>a {
        color: var(--lightpurple);
        text-decoration: none;
    }
    .top-nav .menu-list>li {
        display: inline-block;
        border: none;
    }
    .top-nav .menu-list>li:first-child {
        border-bottom: thin solid var(--lightpurple)
    }
}

/* high resolution screens */

@media (min-width: 90em) {
    .cl-results {
        grid-template-columns: repeat(3, 1fr);
    }
}